
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-item-abs {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
}


.dropdown {
    margin-right: 10px;
    margin-left: 10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}


.container {
    text-align: center;
    vertical-align: top;
}

.top-margin {
    margin-top: 300px;
}

.list-container {
    display: inline-block;
    text-align: left;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    vertical-align: top;
}

h1 {
    margin-bottom: 5px;
}

.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    line-height: 1.3px;

}

.btn-circle-new {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    line-height: 1.3px;
    bottom: 20px;
    right: 20px;
}

.bi {
    font-size: 20px;
    color: white;
}

.enabled-style {
    background-color: #008cff;
}


.disabled-style {
    background-color: #ff3030;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1; /* Change the background color of the page */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form,
.social-icons {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-icons {
    margin-right: 20px;
    height: fit-content;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the width */
}

.login-form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-form p {
    margin-top: 10px;
}

.login-form a {
    color: #4CAF50;
    text-decoration: none;
}

.social-icons h2 {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.user-email {
    font-size: 15px !important;
}